<div class="containerF">
    <h3>Your future!</h3>
    <div id="answers">
        <p>
            You are a <span id="profession"></span>. You married <span id="marry"></span> .
            Your home is in <span id="location"></span> with <span id="kid"></span> kids and a <span id="pet"></span>
            you drive a <span id="car"></span>  and live in a <span id="home"></span>.
    </div>
    <button type="button" id="reset" onclick="location.href='@Url.Action("Index","Home")'">Reset</button>
</div>

